---
import VideoSlide from "../components/VideoSlide.astro";
import ImgSlide from "../components/ImgSlide.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla el coche">
  <main class="snap-y snap-mandatory overflow-auto w-full h-screen">
    <div class="snap-center">
      <VideoSlide />
    </div>
    <div class="snap-center">
      <ImgSlide />
    </div>
  </main>
</Layout>
