<section class="h-screen overflow-x-hidden">
  <div class="relative p-28 w-full h-full flex flex-col">
    <header
      class="z-30 h-full flex justify-center flex-grow items-center flex-col"
    >
      <h2 class="text-white text-5xl font-medium">Disfrute de Tesla</h2>
      <p class="text-white text-base">Programe una prueba de conduccion</p>
      <footer class="flex flex-col flex-grow justify-end">
        <div>
          <a
            class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            href="#"
          >
            Prueba de conducción</a
          >
        </div>
      </footer>
    </header>
    <div class="absolute top-0 right-0 bottom-0 left-0 z-10">
      <video
        class="object-cover w-full h-full"
        loop
        src="/video-1.webm"
        autoplay
        muted></video>
    </div>
  </div>
</section>
